



   .image {
         width: 70%;
         height: 70%;

      }

   th {

       text-align: center;
       vertical-align: middle;
      }

   #aside {
       float: left;
       width: 30%;
   }

   #article{
       width: 70%;
   }





